/**************************************\
  # GRID
\**************************************/

    /*------------------------------------*\
    # BASE
    \*------------------------------------*/

    /**
    * Container and row
    */

    .container {
        margin: 0 auto;
        padding: 2rem;
    }

    .row {
        margin: 0 -.5rem;
        flex-wrap: wrap;
        flex: 0 1 auto;
        display: flex;
    }


    /**
    * Wrap
    */

    .nowrap {
        flex-wrap: nowrap;
    }


    

    /*------------------------------------*\
    # COLUMNS
    \*------------------------------------*/

    [class*="col-sm"],
    [class*="col-md"],
    [class*="col-lg"],
    [class*="col-xl"] {
        padding: .5rem;
        flex: 0 0 auto;
    }




    /*------------------------------------*\
    # FLEXBOX ALIGNMENT
    \*------------------------------------*/

    .horizontal-left {
        justify-content: flex-start;
    }

    .horizontal-center {
        justify-content: center;
    }

    .horizontal-right {
        justify-content: flex-end;
    }

    .vertical-top {
        align-items: flex-start;
    }

    .vertical-center {
        align-items: center;
    }

    .vertical-bottom {
        align-items: flex-end;
    }




    /*------------------------------------*\
    # FLEXBOX DISTRIBUTION
    \*------------------------------------*/

    .horizontal-around {
        justify-content: space-around;
    }

    .horizontal-between {
        justify-content: space-between;
    }

    .horizontal-evenly {
        justify-content: space-evenly;
    }




/**************************************\
# GRID - MEDIA QUERIES
\**************************************/

/**
* Small devices (landscape phones, 768px and down)
*/

@media (max-width: 768px) {

    /*------------------------------------*\
    # BASE
    \*------------------------------------*/

    /**
    * Container and row
    */

    .container {
        padding: 1rem;
    }




    /*------------------------------------*\
    # COLUMNS
    \*------------------------------------*/

    /**
    * Small
    */

    .col-sm-12-1 {
        flex-basis: 8.33333333%;
        max-width: 8.33333333%;
    }

    .col-sm-12-2 {
        flex-basis: 16.66666667%;
        max-width: 16.66666667%;
    }

    .col-sm-12-3 {
        flex-basis: 25%;
        max-width: 25%;
    }

    .col-sm-12-4 {
        flex-basis: 33.33333333%;
        max-width: 33.33333333%;
    }

    .col-sm-12-5 {
        flex-basis: 41.66666667%;
        max-width: 41.66666667%;
    }

    .col-sm-12-6 {
        flex-basis: 50%;
        max-width: 50%;
    }

    .col-sm-12-7 {
        flex-basis: 58.33333333%;
        max-width: 58.33333333%;
    }

    .col-sm-12-8 {
        flex-basis: 66.66666667%;
        max-width: 66.66666667%;
    }

    .col-sm-12-9 {
        flex-basis: 75%;
        max-width: 75%;
    }

    .col-sm-12-10 {
        flex-basis: 83.33333333%;
        max-width: 83.33333333%;
    }

    .col-sm-12-11 {
        flex-basis: 91.66666667%;
        max-width: 91.66666667%;
    }

    .col-sm-12-12 {
        flex-basis: 100%;
        max-width: 100%;
    }
}


/**
* Medium devices (tablets, 768px and up)
*/

@media (min-width: 768px) {
   
    /*------------------------------------*\
    # COLUMNS
    \*------------------------------------*/

    /**
    * Medium
    */

    .col-md-12-1 {
        flex-basis: 8.33333333%;
        max-width: 8.33333333%;
    }

    .col-md-12-2 {
        flex-basis: 16.66666667%;
        max-width: 16.66666667%;
    }

    .col-md-12-3 {
        flex-basis: 25%;
        max-width: 25%;
    }

    .col-md-12-4 {
        flex-basis: 33.33333333%;
        max-width: 33.33333333%;
    }

    .col-md-12-5 {
        flex-basis: 41.66666667%;
        max-width: 41.66666667%;
    }

    .col-md-12-6 {
        flex-basis: 50%;
        max-width: 50%;
    }

    .col-md-12-7 {
        flex-basis: 58.33333333%;
        max-width: 58.33333333%;
    }

    .col-md-12-8 {
        flex-basis: 66.66666667%;
        max-width: 66.66666667%;
    }

    .col-md-12-9 {
        flex-basis: 75%;
        max-width: 75%;
    }

    .col-md-12-10 {
        flex-basis: 83.33333333%;
        max-width: 83.33333333%;
    }

    .col-md-12-11 {
        flex-basis: 91.66666667%;
        max-width: 91.66666667%;
    }

    .col-md-12-12 {
        flex-basis: 100%;
        max-width: 100%;
    }
    
}


/**
* Large devices (desktops, 992px and up)
*/

@media (min-width: 992px) {

    /*------------------------------------*\
    # COLUMNS
    \*------------------------------------*/

    /**
    * Large
    */

    .col-lg-12-1 {
        flex-basis: 8.33333333%;
        max-width: 8.33333333%;
    }

    .col-lg-12-2 {
        flex-basis: 16.66666667%;
        max-width: 16.66666667%;
    }

    .col-lg-12-3 {
        flex-basis: 25%;
        max-width: 25%;
    }

    .col-lg-12-4 {
        flex-basis: 33.33333333%;
        max-width: 33.33333333%;
    }

    .col-lg-12-5 {
        flex-basis: 41.66666667%;
        max-width: 41.66666667%;
    }

    .col-lg-12-6 {
        flex-basis: 50%;
        max-width: 50%;
    }

    .col-lg-12-7 {
        flex-basis: 58.33333333%;
        max-width: 58.33333333%;
    }

    .col-lg-12-8 {
        flex-basis: 66.66666667%;
        max-width: 66.66666667%;
    }

    .col-lg-12-9 {
        flex-basis: 75%;
        max-width: 75%;
    }

    .col-lg-12-10 {
        flex-basis: 83.33333333%;
        max-width: 83.33333333%;
    }

    .col-lg-12-11 {
        flex-basis: 91.66666667%;
        max-width: 91.66666667%;
    }

    .col-lg-12-12 {
        flex-basis: 100%;
        max-width: 100%;
    }
   
}


/**
* Extra large devices (large desktops, 1200px and up)
*/

@media (min-width: 1200px) {

    /*------------------------------------*\
    # COLUMNS
    \*------------------------------------*/

    /**
    * Extra large
    */

    .col-xl-12-1 {
        flex-basis: 8.33333333%;
        max-width: 8.33333333%;
    }

    .col-xl-12-2 {
        flex-basis: 16.66666667%;
        max-width: 16.66666667%;
    }

    .col-xl-12-3 {
        flex-basis: 25%;
        max-width: 25%;
    }

    .col-xl-12-4 {
        flex-basis: 33.33333333%;
        max-width: 33.33333333%;
    }

    .col-xl-12-5 {
        flex-basis: 41.66666667%;
        max-width: 41.66666667%;
    }

    .col-xl-12-6 {
        flex-basis: 50%;
        max-width: 50%;
    }

    .col-xl-12-7 {
        flex-basis: 58.33333333%;
        max-width: 58.33333333%;
    }

    .col-xl-12-8 {
        flex-basis: 66.66666667%;
        max-width: 66.66666667%;
    }

    .col-xl-12-9 {
        flex-basis: 75%;
        max-width: 75%;
    }

    .col-xl-12-10 {
        flex-basis: 83.33333333%;
        max-width: 83.33333333%;
    }

    .col-xl-12-11 {
        flex-basis: 91.66666667%;
        max-width: 91.66666667%;
    }

    .col-xl-12-12 {
        flex-basis: 100%;
        max-width: 100%;
    }
    
}