/*------------------------------------*\
  # SHORT NORMALIZE
\*------------------------------------*/

/**
* All elements
*/

*,
*::after,
*::before {
    box-sizing: border-box;
}


/**
* Links
*/

a {
    text-decoration: none;
}


/**
* List
*/

ol, ul {
    list-style: none;
    padding-left: 0;
}




/*------------------------------------*\
  # MAIN-CONTAINER
\*------------------------------------*/

.main-container {
    font-family: 'Open Sans', arial, sans-serif;
    /* font-family: arial, sans-serif; */
    box-sizing: border-box;
    font-size: 16px;
}




    /*------------------------------------*\
    # HEADER
    \*------------------------------------*/

    .header-container {
        background: linear-gradient(var(--color-green-2), var(--color-green-3));
        height: 100vh;
    }
    
        .header-image {
            min-width: 100px;
            width: 200px;
        }
        
        .header-title {
            margin: 2rem;
        }




    /*------------------------------------*\
    # NAVIGATION
    \*------------------------------------*/

    .navigation-container {
        border-bottom: 0.5px solid var(--color-gray-1);
        position: sticky;
        top: 0;
    }
    
        .navigation-link {
            transition: color 0.3s ease;
            color: var(--color-gray-2);
            padding: 1.5rem 2rem;
            display: block;
        }
        
        .navigation-link:hover {
            color: var(--color-green-3);
        }




    /*------------------------------------*\
    # ABOUT
    \*------------------------------------*/
    
    .about-button:hover {
        background-color: var(--color-green-3);
        color: var(--color-white-1);
    }

        .personal-information-element {
            margin-bottom: 1rem;
        }

        .social-networks-element {
            margin-right: 1rem;
            margin-bottom: 0;
        }
    
    
    
    
    /*------------------------------------*\
    # SKILLS
    \*------------------------------------*/

    /* .skills-container {} */




    /*------------------------------------*\
    # EXPERIENCE
    \*------------------------------------*/

    /* .experience-container {} */




    /*------------------------------------*\
    # PORTFOLIO
    \*------------------------------------*/

    /* .portfolio-container {} */




    /*------------------------------------*\
    # CONTACT
    \*------------------------------------*/

    /* .contact-container {} */




    /*------------------------------------*\
    # CONTACT
    \*------------------------------------*/

    .footer-container {
        border-top: 1px solid var(--color-gray-1);
    }