/*------------------------------------*\
  # SHORT NORMALIZE
\*------------------------------------*/

/**
* Links
*/

a {
    text-decoration: none;
}


/**
* List
*/

ol, ul {
    list-style: none;
}



/*------------------------------------*\
  # MAIN-CONTAINER
\*------------------------------------*/

.main-container {
    font-family: 'Open Sans', arial, sans-serif;
    box-sizing: border-box;
    font-size: 16px;
}




    /*------------------------------------*\
    # HEADER
    \*------------------------------------*/

    .header-container {
        background: linear-gradient(var(--color-green-1), var(--color-green-2));
        height: 100vh;
    }
    
        .header-image {
            min-width: 100px;
            width: 200px;
        }
        
        .header-title {
            margin: 2rem;
        }




    /*------------------------------------*\
    # NAVIGATION
    \*------------------------------------*/

    .navigation-container {
        border-bottom: 0.5px solid var(--color-gray-1);
        position: sticky;
        top: 0;
    }
    
        .navigation-link {
            transition: color 0.3s ease;
            color: var(--color-gray-2);
            padding: 1.5rem 2rem;
            display: block;
        }
        
        .navigation-link:hover {
            color: var(--color-green-1);
        }




    /*------------------------------------*\
    # ABOUT
    \*------------------------------------*/

    .about-container {
        height: 150vh;
    }
    
    
    
    
    /*------------------------------------*\
    # SKILLS
    \*------------------------------------*/

    .skills-container {
        height: 150vh;
    }




    /*------------------------------------*\
    # EXPERIENCE
    \*------------------------------------*/

    .experience-container {
        height: 150vh;
    }




    /*------------------------------------*\
    # PORTFOLIO
    \*------------------------------------*/

    .experience-container {
        height: 150vh;
    }